.myText {
    font-family: 'Sansation', sans-serif;
    color: black;          /* สีข้อความ */
    text-align: left;   /* จัดกึ่งกลาง */
}

.myText1 {
    font-family: 'Kanit', sans-serif;
    color: blue;          /* สีข้อความ */
    text-align: left;   /* จัดกึ่งกลาง */
}

.myText2 {
    font-family: 'Kanit', sans-serif;
    color: orange;          /* สีข้อความ */
    text-align: left;   /* จัดกึ่งกลาง */
}

.myText3 {
    font-family: 'Kanit', sans-serif;
    color: green;          /* สีข้อความ */
    text-align: left;   /* จัดกึ่งกลาง */
}

.myText4 {
    font-family: 'Sansation', sans-serif;
    color: black;          /* สีข้อความ */
    text-align: left;   /* จัดกึ่งกลาง */
}

.myText5 {
    font-family: 'Sansation', sans-serif;
    color: black;          /* สีข้อความ */
    text-align: left;   /* จัดกึ่งกลาง */
}

.myText6 {
    font-family: 'Sansation', sans-serif;
    color: black;          /* สีข้อความ */
    text-align: left;   /* จัดกึ่งกลาง */
}

.myText7 {
    font-family: 'Sansation', sans-serif;
    color: black;          /* สีข้อความ */
    text-align: left;   /* จัดกึ่งกลาง */
}

.myText8 {
    font-family: 'Sansation', sans-serif;
    color: black;          /* สีข้อความ */
    text-align: left;   /* จัดกึ่งกลาง */
}